<%- include ("../partials/header") %>

  <div class="row ">
            <div class="col-xl-2 align-self-xl-start mb-5 mb-xl-0 sticky-top">
                <div class="row">
                    <div class="col-xl-12 col-4">
                        <div class=" selectedDiv active d-flex justify-content-center">
                            <a class="iconLink d-flex flex-column align-items-center " href="/expenses/">
                                <span class="d-flex iconContainer justify-content-center align-items-center">
                                    <span id="iconDesktop" class="d-flex fas fa-desktop fa-2x  "></span>
                                </span>
                                <span class=" iconLabel pt-1">Overview</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-12 col-4 mt-xl-5">
                        <div class="d-flex justify-content-center ">
                            <a class="iconLink d-flex flex-column align-items-center " href="/expenses/new">
                                <span class="d-flex iconContainer justify-content-center align-items-center">
                                    <span id="iconEuro" class="d-flex fas fa-euro-sign fa-2x  "
                                        data-fa-transform=" left-1"></span>
                                </span>
                                <span class="iconLabel pt-1">Add Expenses</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-12 col-4 mt-xl-5">
                        <div class="d-flex justify-content-center ">
                            <a class="iconLink d-flex flex-column align-items-center " href="/expenses-history">
                                <span class="d-flex iconContainer justify-content-center align-items-center">
                                    <span id="iconHistory" class=" d-flex fas fa-calendar-alt fa-2x  "></span>
                                </span>
                                <span class=" iconLabel pt-1">History</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8  ">
                <div class="overviewDiv ">
                    <div>
                        <h4 class="d-flex flex-row">
                            <i id="overviewIcon" class="far fa-circle"></i>
                            <span id="overviewSpan" class="d-block">
								
							<%=moment(expenses[0].createdAt).format("MMMM")%>'s Detailed View (<%=expenses[0].type %>) 
							
								</span>
                        </h4>
                    </div>
					 <div class="chartDiv m-5 pt-3 pb-5 ">
			 
        
			    <canvas id="myChart"></canvas>
			</div> 
			
            <span id='expenses' hidden>
                <%= JSON.stringify(expenses); %>
            </span>
            <script src="/scripts/bundle.js">
            </script>
                </div>
                <div class="editDiv mb-5 mb-xl-0 ">
				
                        <div>
                        <h4 class="d-flex flex-row">
                            <i id="overviewIcon" class="far fa-circle"></i>
                            <span id="overviewSpan" class="d-block">
								
						Edit expenses
							
								</span>
                        </h4>
                    </div>
                   
					<div class="well">
				
				
				<div class="row">
					<div class="col-12 text-center">
						<% expenses.forEach(function(expense){ %>
						<div class="editFirstRow row mb-3 pt-2 pb-2 m-0">
							
						
						<div class="col-4">
						<p class="m-0">
							<%= moment(expense.createdAt).format("dddd DD/MM/YY") %> 
							</p>
						</div>
							
								<div class="col-4">
								<p class="m-0">Amount</p>
						</div>
							</div>
						
						
						<div class="row">
							
						
								<div class="col-4">
							<p><%= expense.description %> </p>
						</div>
							<div class="col-4">
							<p><%= expense.amount %> EUR </p>
						</div>
								<div class="col-4">
							  	<span id="iconEditSpan"><i class="fas fa-sort-down"></i></span>
								<div class="editToggler hidden-all">
									<div class=" mt-2 mb-3 d-flex flex-row justify-content-center">
						
						
							<a class="btnEdit mr-3" href="/expenses/<%= expense.type %>/details/<%= expense._id %>/edit ">Edit</a>
						<form class="delete-form" 
							  action="/expenses/<%= expense.type %>/details/<%= expense._id %>?_method=DELETE" 
							  method="POST">
							<button class="btnDelete">
								Delete
							</button>
						</form>
					             	</div>
									</div>
									
						</div>
							
								
					<div class="col-12 pt-0 mt-0 mb-3">
						<hr class="editHr pt-0 mt-0 ">
							</div>
						
							</div>
							<%	}); %>
						
				
					</div>
				</div>  
           
			</div>
				</div>
            </div>
            <div class="col-xl-2 align-self-xl-start sticky-top">
                <div class="row flex-row-reverse">
                    <div class="col-12">
                        <div class="amountDiv mr-xl-3  mt-xl-0">
                            <h4 class="mb-3">Total Amount</h4>
                            <p>
                             <% var overallTotal = 0; %>
                             <%  expenses.forEach(function(expense) { %>
                             <%    overallTotal = overallTotal + expense.amount; %>
                             <%     return overallTotal; %>
							<%	}); %>
						  	<% function totalAmount(x) { %>
                             <%   return Number.parseFloat(x).toFixed(2); %>
                             <%   } %>
								
								
								You have spent
                                <span ><%= totalAmount(overallTotal) %></span>
                                <span>EUR</span>
                                on <%= (expenses[0].type).toLowerCase() %> this month
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
        



				


    <%- include ("../partials/footer") %>