<%- include ("../partials/header") %>

  <div class="row flex-column-reverse flex-xl-row ">
            <div class="col-xl-2 align-self-xl-start left-sidebar mb-5 mb-xl-0 order-1 order-xl-0">
                <div class="row">
                    <div class="col-xl-12 col-4">
                        <div class=" d-flex justify-content-center">
                            <a class="iconLink d-flex flex-column align-items-center " href="/expenses/">
                                <span class="d-flex iconContainer justify-content-center align-items-center">
                                    <span id="iconDesktop" class="d-flex fas fa-desktop fa-2x  "></span>
                                </span>
                                <span class=" iconLabel pt-1">Overview</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-12 col-4 mt-xl-5">
                        <div class="d-flex justify-content-center ">
                            <a class="iconLink d-flex flex-column align-items-center " href="/expenses/new">
                                <span class="d-flex iconContainer justify-content-center align-items-center">
                                    <span id="iconEuro" class="d-flex fas fa-euro-sign fa-2x  "
                                        data-fa-transform=" left-1"></span>
                                </span>
                                <span class="iconLabel pt-1">Add Expenses</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-12 col-4 mt-xl-5">
                        <div class=" selectedDiv active  d-flex justify-content-center ">
                            <a class="iconLink d-flex flex-column align-items-center " href="/expenses-history">
                                <span class="d-flex iconContainer justify-content-center align-items-center">
                                    <span id="iconHistory" class=" d-flex fas fa-calendar-alt fa-2x  "></span>
                                </span>
                                <span class=" iconLabel pt-1">History</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8  ">
                <div class="overviewDiv">
                    <div>
                        <h4 class="d-flex flex-row">
                            <i id="overviewIcon" class="far fa-circle"></i>
                            <span id="overviewSpan" class="d-block">
							
								<%= expenses[0].expenses[0].type %>	<%= moment(expenses[0].expenses[0].createdAt).format("YYYY") %>
							
								</span>
                        </h4>
                    </div>
					 <div class="chartDiv  mb-5 mx-3 m-sm-5  pt-2 pb-3 pt-sm-3 pb-sm-5">
			 
        
			    <canvas id="myChart"></canvas>
			</div> 
			
            <span id='expenses' hidden>
                <%= JSON.stringify(expenses); %>
            </span>
            <script src="/scripts/chartHistory.js">
            </script>
                </div>
				 
				<!-- KEEPING THIS IN CASE I ADD SOMETHING LIKE TOP 5 EXPENSES -->
				<!-- <div class="detailsDiv pb-4">

              
                    <h4>
                 
                      
                            Detailed View
                
                    </h4>
               
                <div id="detailsList" class=" d-flex flex-row flex-wrap text-capitalize align-items-center ">
                     expenses.forEach(function(expense){ %>
                        <a href="/expenses/%= expense._id %>">
                            <div class="px-4 py-1 m-3 detailsItem" style="background-color: #364f6b; border-radius: 25px;">
                                < expense._id %>
                            </div>
                        </a>
                        < }) %>
                           
                </div>
            </div> -->
                
            </div>
            <div class="col-xl-2 align-self-xl-start right-sidebar">
                <div class="row flex-row-reverse">
                    <div class="col-12">
                        <div class="amountDiv mr-xl-3 mt-xl-0 mb-5 ">
                            <h4 class="mb-3">Total Amount</h4>
                            <p>
                             <% let overallTotal = 0; %>
                             <%  expenses.forEach(function(expense) { %>
                             <%    overallTotal = overallTotal + expense.totalExpensesAmount; %>
                             <%     return overallTotal; %>
							<%	}); %>
						  	<% function totalAmount(x) { %>
                             <%   return Number.parseFloat(x).toFixed(2); %>
                             <%   } %>
								
								
								You spent
                                <span id="amountDisplay"><%= totalAmount(overallTotal) %></span>
                                <span>EUR</span> on <%= expenses[0].expenses[0].type %>
                                in <%= moment(expenses[0].expenses[0].createdAt).format("YYYY") %>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
        



				


    <%- include ("../partials/footer") %>